.page-wrap {
	width: 960px;
	margin: 0 auto;
}
body {
	background-color: #f2f2f2;
}
/*INTRO*/
.intro {
	width: 50%;

	position: absolute;
	text-align: center;
	padding-top: 77px;
	margin-left: 5px;
	border-radius: 50%;
}
.img {
	width: 250px;
	height: 250px;
	margin-left: 5px;
	border-radius: 50%;
}
.h1 {
	font-size: 42px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	text-align: center;
	color: rgb(49, 98, 159);
}
.p1 {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin: 20px 0 20px 0;
	width: 640px;
	height: 96px;
	position: absolute;
	left: 150px;
	top: 400px;
	color: rgb(127, 127, 127);
}
.hori1 {
	width: 978px;
	height: 1px;
	background-color: rgb(127, 127, 127);;
	position: absolute;
	top: 600px;
	left: 500px;
}
/*INTRO ENDS*/

/*PICTURES*/
.pictures {
	position: absolute;
	text-align: center; 
}
.SteveJobs {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 650px;
	left: 20px;
  transition-duration: 0.3s;
}
.SteveJobs:hover, .SteveJobs:focus, .SteveJobs:active {
	-webkit-transform: scale(1.5);

}
.AlanTuring {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 650px;
	left: 370px;
  transition-duration: 0.3s;
}
.AlanTuring:hover, .AlanTuring:focus, .AlanTuring:active {
-webkit-transform: scale(1.5);
 }
 .BenjaminFranklin {
 	width: 280px;
	height: 200px;
	position: absolute;
	top: 650px;
	left: 720px;
  transition-duration: 0.3s;
 }
 
 .BenjaminFranklin:hover, .BenjaminFranklin:focus, .BenjaminFranklin:active {
 	-webkit-transform: scale(1.5);
 }
.AdaLovelace {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 900px;
	left: 20px;
  transition-duration: 0.3s;
}
.AdaLovelace:hover, .AdaLovelace:focus, .AdaLovelace:active {
-webkit-transform: scale(1.5);
 }
 .AlbertEinstein {
 	width: 280px;
	height: 200px;
	position: absolute;
	top: 900px;
	left: 370px;
  transition-duration: 0.3s;
 }
 .AlbertEinstein:hover, .AlbertEinstein:focus, .AlbertEinstein:active {
-webkit-transform: scale(1.5);
}
.BillGates {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 900px;
	left: 720px;
  transition-duration: 0.3s;
}
.BillGates:hover, .BillGates:focus, .BillGates:active {
	-webkit-transform: scale(1.5);
}
.WarrenBuffet {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1150px;
	left: 20px;
  transition-duration: 0.3s;
}
.WarrenBuffet:hover, .WarrenBuffet:focus, .WarrenBuffet:active {
	-webkit-transform: scale(1.5);
}
.ElonMusk {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1150px;
	left: 370px;
  transition-duration: 0.3s;
}
.ElonMusk:hover, .ElonMusk:focus, .ElonMusk:active {
	-webkit-transform: scale(1.5);
}
.MahatmaGhandhi {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1150px;
	left: 720px;
  transition-duration: 0.3s;
}
.MahatmaGhandhi:hover, .MahatmaGhandhi:focus, .MahatmaGhandhi:active {
	-webkit-transform: scale(1.5);
}
.JohnDRockefeller {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1400px;
	left: 20px;
  transition-duration: 0.3s;
}
.JohnDRockefeller:hover, .JohnDRockefeller:focus, .JohnDRockefeller:active {
	-webkit-transform: scale(1.5);
}
.MichaelBloomberg {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1400px;
	left: 370px;
  transition-duration: 0.3s;
}
.MichaelBloomberg:hover, .MichaelBloomberg:focus, .MichaelBloomberg:active {
	-webkit-transform: scale(1.5);
}
.AlfredWegener {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1400px;
	left: 720px;
  transition-duration: 0.3s;
}
.AlfredWegener:hover, .AlfredWegener:focus, .AlfredWegener:active {
	-webkit-transform: scale(1.5);
}
.NicolausCopernicus {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1650px;
	left: 20px;
  transition-duration: 0.3s;
}
.NicolausCopernicus:hover, .NicolausCopernicus:focus, .NicolausCopernicus:active {
	-webkit-transform: scale(1.5);
}
.GeorgeWashington {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1650px;
	left: 370px;
  transition-duration: 0.3s;
}
.GeorgeWashington:hover, .GeorgeWashington:focus, .GeorgeWashington:active {
	-webkit-transform: scale(1.5);
}
.AlexanderTheGreat {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1650px;
	left: 720px;
  transition-duration: 0.3s;
}
.AlexanderTheGreat:hover, .AlexanderTheGreat:focus, .AlexanderTheGreat:active {
	-webkit-transform: scale(1.5);
}
.AbrahamLincoln {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1900px;
	left: 20px;
  transition-duration: 0.3s;
}
.AbrahamLincoln:hover, .AbrahamLincoln:focus, .AbrahamLincoln:active {
	-webkit-transform: scale(1.5);
}
.MaoZedong {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1900px;
	left: 370px;
  transition-duration: 0.3s;
}
.MaoZedong:hover, .MaoZedong:focus, .MaoZedong:active {
	-webkit-transform: scale(1.5);
}
.MarkZuckerberg {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 1900px;
	left: 720px;
  transition-duration: 0.3s;
}
.MarkZuckerberg:hover, .MarkZuckerberg:focus, .MarkZuckerberg:active {
	-webkit-transform: scale(1.5);
}