.page-wrap {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
body {
	
}
/*INTRO*/
.intro {
	width: 50%;

	position: absolute;
	text-align: center;
	padding-top: 77px;
	margin-left: 5px;
	border-radius: 50%;
}
.img {
	width: 250px;
	height: 250px;
	margin-left: 5px;
	border-radius: 50%;
}
.h1 {
	font-size: 42px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	text-align: center;
	color: rgb(49, 98, 159);
}
.p1 {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin: 20px 0 20px 0;
	width: 640px;
	height: 96px;
	position: absolute;
	left: 150px;
	top: 400px;
	color: rgb(127, 127, 127);
}
.hori1 {
	width: 978px;
	height: 1px;
	background-color: rgb(127, 127, 127);;
	position: absolute;
	top: 600px;
	left: 500px;
}
/*INTRO ENDS*/

/*PICTURES*/
.pictures {
	position: absolute;
	text-align: center; 
}
.SteveJobs {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 650px;
	left: 20px;
  transition-duration: 0.3s;
}
.SteveJobs:hover, .SteveJobs:focus, .SteveJobs:active {
	-webkit-transform: scale(1.5);

}
.AlanTuring {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 650px;
	left: 370px;
  transition-duration: 0.3s;
}
.AlanTuring:hover, .AlanTuring:focus, .AlanTuring:active {
-webkit-transform: scale(1.5);
 }
 .BenjaminFranklin {
 	width: 280px;
	height: 200px;
	position: absolute;
	top: 650px;
	left: 720px;
  transition-duration: 0.3s;
 }
 
 .BenjaminFranklin:hover, .BenjaminFranklin:focus, .BenjaminFranklin:active {
 	-webkit-transform: scale(1.5);
 }
